    
    body {
      background-color: #E8DCC1;
      text-align: center;
      display: flex;
      justify-content: center;
    }
    
    .header {
      color: #0D9879;
      font-size: xx-large;
    }

    input:focus {
      outline: none;
    }

    .additems {
      border: none;
      padding: 3% 0% 3% 0%;
      font-size: larger;
      border-bottom: 1px solid #D8D8D8;
      text-align: center;
      width: 95%;
    }

    input[type=checkbox] {
      float: left;
      height: 20px;
      width: 20px;
    }

    .list {
      margin: 0%;
      padding: 0%;
    }
     .done  {
      color: #777777;
      text-decoration: line-through;
    }

    .list>li {
      list-style: none;
      padding: 3% 0% 3% 0%;
      text-align: center;
      background-color: whitesmoke;
      color: black;
      border-bottom: 1px solid #D8D8D8;
      font-size: x-large;
    }

    .list li:nth-child(even) {
      transform: perspective(100px) rotateX(3deg) translateY(3px) scale(1.001);
      background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%);
    }

    .list li:nth-child(odd) {
      transform: perspective(100px) rotateX(-3deg) translateY(3px);
      background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%);
    }

    .delete:after {
      content: 'x';
      font-size: larger;
    }

    .delete {
      border: none;
      background-color: #F8F8F8;
      color: #f24b4b;
      float: right;
      outline: none;
      cursor: pointer;
    }

    .status {
      display: inline-block;
      font-size: larger;
      padding: 0px 5px 0px 5px;
      cursor: pointer;
    }

    footer {
      background-color: #FFFFFF;
    }